<section class="hero">
  <div class="container">
    <div class="cv-card">
      <div class="header-cv">
        <img
          src="./img/Profilephoto1x.jpg"
          srcset="./img/Profilephoto1x.jpg 1x, ./img/Profilephoto2x.jpg 2x"
          alt="CV-image"
          class="heder-cv-img"
        />
        <h3 class="header-cv-title">Maksym</h3>
        <p class="header-cv-description">Full-stack developer</p>
      </div>
      <div class="body-cv">
        <ul class="cv-info">
          <li class="cv-info-item">
            <svg class="cv-info-icon" width="14px" height="14px">
              <use href="./img/icons.svg#icon-mail"></use>
            </svg>

            <a href="" class="cv-info-link">maxmersin@gmail.com</a>
          </li>
          <li class="cv-info-item">
            <svg class="cv-info-icon" width="14px" height="14px">
              <use href="./img/icons.svg#icon-map"></use>
            </svg>
            <a href="" class="cv-info-link">Krakow</a>
          </li>
          <li class="cv-info-item">
            <svg class="cv-info-icon" width="14px" height="14px">
              <use href="./img/icons.svg#icon-mail"></use>
            </svg>
            <a href="" class="cv-info-link">Full-time / Freelancer</a>
          </li>
          <li class="cv-info-item">
            <svg class="cv-info-icon" width="14px" height="14px">
              <use href="./img/icons.svg#icon-link"></use>
            </svg>
            <a href="" class="cv-info-link">Site</a>
          </li>
        </ul>
        <div class="cv-skill">
          <ul class="cv-skill-list">
            <li class="cv-skill item">
              <div class="cv-skill-bg">
                <p class="cv-skill-text">HTML</p>
              </div>
            </li>
            <li class="cv-skill item">
              <div class="cv-skill-bg">
                <p class="cv-skill-text">CSS</p>
              </div>
            </li>
            <li class="cv-skill item">
              <div class="cv-skill-bg">
                <p class="cv-skill-text">JS</p>
              </div>
            </li>
            <li class="cv-skill item">
              <div class="cv-skill-bg">
                <p class="cv-skill-text">REACT</p>
              </div>
            </li>
          </ul>
        </div>
        <button class="cv-download">
          Download CV<svg class="cv-btn-icon" width="20px" height="20px">
            <use href="./img/icons.svg#icon-download"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="hero-title">
      <p class="hero-title-descr">&lt;h1&gt;</p>
      <h1 class="hero-title-text">
        Hey <br />
        I’m <span class="hero-title-brand">Maksym</span>,<br />
        Full-stack developer
      </h1>
      <p class="hero-title-descr">&lt;/h1&gt;</p>
    </div>
    <div class="hero-helps">
      <p class="hero-helps-descr">&lt;h1&gt;</p>
      <p class="hero-helps-text">
        I help business grow by crafting amazing web experiences. If you’re
        looking for a developer that likes to get stuff done,
      </p>
      <p class="hero-helps-descr">&lt;/h1&gt;</p>

      <div class="help-btn-cont">
        <h3 class="hero-help-contact">Let’s Talk</h3>
        <button class="helps-btn">
          <svg class="hero-helps-icon" width="24px" height="24px">
            <use href="./img/icons.svg#icon-mail"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="hero-skills">
      <ul class="hero-skills-list">
        <li class="hero-skills-item">
          <h2 class="hero-skills-item-title">4</h2>
          <p class="hero-skills-item-descr">Programming Language</p>
        </li>
        <li class="hero-skills-item">
          <h2 class="hero-skills-item-title">6</h2>
          <p class="hero-skills-item-descr">Development Tools</p>
        </li>
        <li class="hero-skills-item">
          <h2 class="hero-skills-item-title">1</h2>
          <p class="hero-skills-item-descr">Years of Experience</p>
        </li>
      </ul>
    </div>
  </div>
</section>
