<section class="hero">
  <div class="container">
    <div class="cv-card">
      <div class="header-cv">
        <img
          src="./img/Profilephoto1x.jpg"
          srcset="./img/Profilephoto1x.jpg 1x, ./img/Profilephoto2x.jpg 2x"
          alt="CV-image"
          class="heder-cv-img"
        />
        <h3 class="header-cv-title">Maksym</h3>
        <p class="header-cv-description">Full-stack developer</p>
      </div>
      <div class="body-cv">
        <ul class="cv-info">
          <li class="cv-info-item">
            <svg class="cv-info-icon" width="14px" height="14px">
              <use href="./img/icons.svg#icon-mail"></use>
            </svg>

            <a href="" class="cv-info-link">maxmersin@gmail.com</a>
          </li>
          <li class="cv-info-item">
            <svg class="cv-info-icon" width="14px" height="14px">
              <use href="./img/icons.svg#icon-map"></use>
            </svg>
            <a href="" class="cv-info-link">Krakow</a>
          </li>
          <li class="cv-info-item">
            <svg class="cv-info-icon" width="14px" height="14px">
              <use href="./img/icons.svg#icon-mail"></use>
            </svg>
            <a href="" class="cv-info-link">Full-time / Freelancer</a>
          </li>
          <li class="cv-info-item">
            <svg class="cv-info-icon" width="14px" height="14px">
              <use href="./img/icons.svg#icon-link"></use>
            </svg>
            <a href="" class="cv-info-link">Site</a>
          </li>
        </ul>
        <div class="cv-skill">
          <ul class="cv-skill-list">
            <li class="cv-skill item">
              <div class="cv-skill-bg">
                <p class="cv-skill-text">HTML</p>
              </div>
            </li>
            <li class="cv-skill item">
              <div class="cv-skill-bg">
                <p class="cv-skill-text">CSS</p>
              </div>
            </li>
            <li class="cv-skill item">
              <div class="cv-skill-bg">
                <p class="cv-skill-text">JS</p>
              </div>
            </li>
            <li class="cv-skill item">
              <div class="cv-skill-bg">
                <p class="cv-skill-text">REACT</p>
              </div>
            </li>
          </ul>
        </div>
        <button class="cv-download">
          Download CV<svg class="cv-btn-icon" width="20px" height="20px">
            <use href="./img/icons.svg#icon-download"></use>
          </svg>
        </button>
      </div>
    </div>
    -
  </div>
</section>
